
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Black.woff?v=3.19") format("woff");
}

.page {
  background-color: #2A2C2F;
  margin: 0 auto;
  max-width: 1280px;
  font-family: 'Inter', Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  
}
  /* Header */
.header {
  margin:  28px 48px 56px;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;

}
@media (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
    max-width: calc(100% - 96px);
  }
}
@media (max-width: 768px) {
  .header {
    margin: 28px auto 48px;
    max-width: calc(100% - 48px);
  }
}
@media (max-width: 425px) {
  .header {
    margin: 28px auto 48px;
    max-width: calc(100% - 32px);
  }
}
.header__lang {
  margin: 0;
  
  
}
.header__lang-link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 18px 0 0;
  
}
.header__lang-link:nth-last-child(1) {
  margin: 0;
  text-decoration: none;
}

.header__lang-link:hover {
  transition: .2s ease-in-out;
  opacity: .5;
  text-decoration: underline;
}
.header__lang-link::before{
  opacity: .5;
  cursor: pointer;
}
.logo_place_header {
  width: 176px;
  height: 52px;
}
@media (max-width: 767px) {
  .logo_place_header{
    width: 142px;
    height: 42px;
  }
}

/* Lead */
.lead {
  align-items: center;
  max-width: 984px;
  margin: auto;
  
}
@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .lead {
    margin: 0 auto 64px;
    max-width: 100%;
  }
}

.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .lead__title {
    max-width: 100%;
    font-size: 12.5vw;
    line-height: 12vw;
  }
}
@media (max-width: 425px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;

}

@media (max-width: 768px) {
  .lead__subtitle {
    margin: 0 auto 56px;
    max-width: 70%;
    font-size: 4vw;
    line-height: 4.5vw;
  }
}

@media (max-width: 425px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  max-width: 100%;
  justify-self: center;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .lead__image {
    max-height: 580px;
    max-width: 100%;
    
  }
}
@media (max-width: 768px) {
  .lead__image {
    max-height: 480px;
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .lead__image {
    margin: 0 auto 8px;
  }
}

.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 8px 0 0 0;
}

@media (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .lead__caption {
    margin: 0 auto 0 16px;
    max-width: 100%;
  }
}

/* Intro */
.intro {
  max-width: 984px;
  margin: 92px auto;
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}
@media (min-width:426px) and (max-width: 768px) {
  .intro {
    margin: 0 auto 88px;
    max-width: calc(100% - 48px);
  }
}
@media (max-width: 425px) {
  .intro {
    margin:0 auto 64px;
    max-width: calc(100% - 32px);
  }
}

.intro__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 88px 0 40px 0;
}
@media (max-width: 425px) {
  .info__title {
    max-width: 84%;
    font-size: 32px;
    line-height: 35px;
  }
}
.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 33px;
}
@media (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .intro__text {
    max-width: 100%;
  }
}
.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.intro__list-span {
  font-weight: 700;
}
.intro__list-item {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}
.info__list-item:last-child {
  margin: 0 0 0 0;
}

/* Photo-grid */

.photo-grid {
  display: grid;
  margin: 0 auto 92px;
  max-width: calc(100% - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}
@media (max-width: 768px) {
  .photo-grid {
    margin: 0 auto 88px;
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
@media (max-width: 425px) {
  .photo-grid {
    margin: 0 auto 64px;
    max-width: calc(100% - 32px);
    grid-template-columns: 1fr;
  }
}

.photo-grid__item {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  
}

/* Places */
.places {
  max-width: 984px;
  margin: 0 auto 92px ;
}

@media (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}
@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
  }
}


.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-gap: 32px;
  margin-bottom: 80px;
  
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px 28px;
  }
}
@media (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
  }
}
.place__title {
  max-width: 0 0 48px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  align-self: flex-end;

}
@media (max-width: 768px) {
  .place__title {
    max-width: 95%;
    margin: 0 0 0 0;
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 425px) {
  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
.place__website {
  align-self: end;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .place__website {
    margin: 0;

  }
}
@media (max-width: 425px) {
  .place__website {
    display: none;

  }
}
.place__image {
  max-width: 460px;

  
}
@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .place__image {
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
  }
}
@media (max-width: 635px) {
  .place__image {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .place__image {
    max-width: 100%;
    
  }
}
.place__paragraph {
  margin: 0 0 26px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;

}

.place__paragraph:last-child {
  margin: 0;
}
@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

.place__url-heading {
  margin: 0 0 12px 0;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__website-link {
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.place__website-link:hover {
  transition: .2s ease-in-out;
  opacity: .5;
  text-decoration: underline;
}
.place__website-link::before{
  opacity: .5;
  cursor: pointer;
}
/* Cover */

.cover {
  max-width: 1184px;
  text-decoration: none;
  display: block;
  margin: 0 auto;

}
@media (max-width: 1279px) {
  .cover {
    min-width: 100%;
    margin: 0 auto;
    text-decoration: none;
  }
  }

.cover__overlay {
  background-image: url("../sprint-3-images/cover-trains.jpg") ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-size: cover;
  justify-self: center;
  background-position: center;
  z-index: 1;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  
  
}
.cover__overlay::before {
  content: '';
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #2A2C2F;
  opacity: .3;
  transition: .335s ease-in-out;
}
.cover__overlay:hover::before  {
  opacity: .8;
}
@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 63vw;
    min-width: 100%;
    margin: auto;
}
}

.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  z-index: 1;
  margin: 0 auto 32px;
  text-align: center;
  
  
  }

  @media (max-width: 560px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      width: 250px;
      height: 70px;
    }
  }
  @media (max-width: 425px) {
    .cover__title {
      width: 250px;
      height: 70px;
      align-self: center;
      margin: 0 0 16px;
      font-size: 32px;
      line-height: 35px;
      max-width: 80%;
    }
  }

.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  grid-column: 2;
  grid-row: 3;
  z-index: 1;
  margin: 0 auto;

}

@media (max-width: 425px) {
  .cover__subtitle {
    width: 90%;
    font-size: 14px;
    line-height: 18px;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 92px auto 24px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .footer {
    max-width: calc(100% - 32px);
  }
}



.footer__links {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
@media (max-width: 528px) {
  .footer__links {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
}

@media (max-width: 348px) {
  .footer__item{
    margin-bottom: 32px;
  }
}

.footer__link {
  width: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 18px 0 0;
  text-decoration: none;
  flex-wrap: wrap;
  list-style: none;
}

.footer__link:hover {
  transition: .2s ease-in-out;
  opacity: .5;
}
.footer__link::before{
  opacity: .5;
  cursor: pointer;
}

@media (max-width: 348px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

  .footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  
  }
